@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --MenuColorButton: rgb(37, 37, 37);
  --MenuColorMenu: #373737;
  --MenuColorFont: #a2a2a2;
  --MenuFontSize: 16px;
  --MenuSizeButtonW: 50px;
  --MenuSizeButtonH: 50px;
  --MenuSizeWidthCard: 70px;
  --MenuSizeHeightCard: 60px;
  --MenuHeightMenu: 150px;
  --MenuGapMenu: 10px;
  --MenuMarginButton: 30px;
  --MenuWidthMenu: calc(
    var(--MenuSizeWidthCard) * 3 + (var(--MenuGapMenu) * 2) + 80px
  );
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: var(--MenuFontSize);
  font-family: "Lato", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

.menu_float {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.menu_float.right-middle {
  top: 50%;
  right: var(--MenuMarginButton);
}

.menu_float.right-bottom {
  bottom: 10px;
  right: var(--MenuMarginButton);
}

.menu_float.right-top {
  top: 10px;
  right: var(--MenuMarginButton);
}

.menu_float.left-top {
  top: 10px;
  left: var(--MenuMarginButton);
}

.menu_float__icon {
  width: var(--MenuSizeButtonW);
  height: var(--MenuSizeButtonH);
  background-color: var(--MenuColorButton);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  z-index: 102;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s;
  background-image: url("img/simbolo_blanco.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.menu_float__icon.menu_active {
  background-image: url("img/point.svg");
  background-size: 5px;
}

.menu_float__icon img {
  max-width: calc(var(--MenuSizeButtonW));
  height: calc(var(--MenuSizeButtonH) - 20px);
}

.menu_float__icon:hover {
  font-size: 1.8rem;
  transform: scale(0.8);
}

.menu_float__menu {
  background-color: var(--MenuColorMenu);
  right: calc(var(--MenuSizeButtonW) / 2);
  color: var(--MenuColorFont) !important;
  position: absolute;
  z-index: 102;
  border-radius: 10px;
  background: rgb(55, 55, 55);
  background: linear-gradient(
    180deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(55, 55, 55, 0.8) 70%,
    rgba(55, 55, 55, 0.74) 100%
  );
}

.menu_float__icon.fade_out,
.menu_float__menu.fade_out {
  display: none;
}

.menu_float__menu {
  list-style: none;
  display: grid;
  padding: 20px 50px 20px 30px;
  gap: 25px 10px;
  margin: 0;
  grid-template-columns: repeat(3, var(--MenuSizeWidthCard));
  justify-content: space-between;
  transition: all 0.3s;
  z-index: 101;
}

.menu_float__menu a {
  color: var(--MenuColorFont);
  text-decoration: none;
  transition: all 0.3s;
}

.menu_float__menu a:hover {
  transform: scale(1.2);
}

.menu_float__menu a li {
  width: var(--MenuSizeWidthCard);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.menu_float__menu a li img {
  width: calc(var(--MenuSizeWidthCard) / 2);
}

.menu_float__menu a li span {
  font-size: 0.6em;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: var(--MenuColorFont);
}

.menu_float.right-bottom .menu_float__menu {
  bottom: calc(var(--MenuSizeButtonW) / 2);
}

.menu_float.right-top .menu_float__menu {
  top: calc(var(--MenuSizeButtonW) / 2);
}

.menu_float.left-top .menu_float__menu {
  top: calc(var(--MenuSizeButtonW) / 2);
  left: calc(var(--MenuSizeButtonW) / 2);
}

@media (max-width: 400px) {
  :root {
    --MenuSizeButtonW: 30px;
    --MenuSizeButtonH: 70px;
  }
  .menu_float.right-middle {
    right: 0;
  }

  .menu_float__menu {
    grid-template-columns: repeat(2, var(--MenuSizeWidthCard));
  }

  .menu_float__icon {
    border-radius: 15px 0 0 15px;
    background-size: 12px;
  }

  .menu_float__icon.menu_active {
    background-image: url("img/right-arrow.svg");
    background-size: 10px;
  }
}
